
<style>
  .boxge1_adm{display:inline-block;}
  .item{display:inline-block}
  .boxg_adm{ width:600px;}
  .inp_adm{width:100px;}
  .space_adm{width:10px;}
</style>

{% for x in getdb %}

<div class="boxg_adm">
    <div class="boxge1_adm">
        <div class="item">{{[loop.index]}}</div>

        <div class="item space_adm"></div>

        <div class="item">String ON</div>
        <form  action="{{ url_for('changestringsC1')}}" 
          method="POST" class="item"> 
          <input name="stringon" class="inp_adm"type="text" 
          value="{{getdb[loop.index-1][7]}}">

          <div class="item space_adm"></div>

          <div class="item">String OFF</div>

          <input name="stringoff" class="inp_adm"type="text" 
          value="{{getdb[loop.index-1][8]}}">    

          <div class="item space_adm"></div>   

          <button type:="submit"> Save </button>
        </form>

        

        
    </div>

</div><!--- boxg_adm --->

<div class="e20"></div>

{% endfor%}