<style>
  .boxg{height:60px; width:180px}
  .boxge1{display: inline-block; padding: 10px 10px 10px 10px}
  .red{border:2px solid red;}
  .blue{border: 2px solid blue;}
</style>


<div class="container-fluid">
  <div class="row">

  
{% for x in getdb %}

      {#--------------   seccion 1 ----------------#}
    
      {% if (loop.index/5) == 0.2 %}
        <div class="col-2">
      {% endif %}

      {% if (loop.index/5) <= 1 %} 
      <div class="row">
        {% include 'compo/0templatecircuito.html' %}
        </div>
      {% endif %}

      {% if (loop.index/5) == 1 %}
        </div>
      {% endif %}

      {#--------------   seccion 2 ----------------#}

      {% if (loop.index/5) == 1.2 %}
        <div class="col-2">
      {% endif %}

      {% if (loop.index/5) <= 2 and (loop.index/5) > 1 %} 
      <div class="row">
        {% include 'compo/0templatecircuito.html' %}
      </div>
      {% endif %}

      {% if (loop.index/5) == 2 %}
        </div>
      {% endif %}

      {#--------------   seccion 3 ----------------#}

      {% if (loop.index/5) == 2.2 %}
        <div class="col-2">
      {% endif %}

      {% if (loop.index/5) <= 3 and (loop.index/5) > 2 %} 
      <div class="row">
        {% include 'compo/0templatecircuito.html' %}
      </div>
      {% endif %}

      {% if (loop.index/5) == 3 %}
        </div>
      {% endif %}

      {#--------------   seccion 4 ----------------#}

      {% if (loop.index/5) == 3.2 %}
        <div class="col-2">
      {% endif %}

      {% if (loop.index/5) <= 4 and (loop.index/5) > 3 %} 
      <div class="row">
        {% include 'compo/0templatecircuito.html' %}
      </div>
      {% endif %}

      {% if (loop.index/5) == 4 %}
        </div>
      {% endif %}

{% endfor%}

  </div>
   
</div><!--endcontainer-->